.about {
  display: flex;
  height: 935px;
  .about-description {
    width: 50%;
    height: 100%;
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 38px;
      line-height: 55px;
      letter-spacing: -0.76px;
      color: $color-text;
      margin-bottom: 26px;
    }
    p {
      font-size: 30px;
      line-height: 54px;
      letter-spacing: -0.6px;
      color: $color-text;
      margin: 55px 150px 40px 150px;
      text-align: center;
    }
    #signature {
      margin-left: 50%;
    }
  }
  .about-photo {
    background-image: url(../../assets/People.jpg);
    height: 100%;
    width: 50%;
  }
}
