.contact {
  height: 1026px;
  background-image: url(../../assets/Background-Contact-Form.jpg);
  position: relative;
  color: $color-text;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffffc9;
    position: absolute;
    z-index: 1;
  }
  .container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    position: absolute;
    padding-top: 200px;
  }
  .contact-title {
    text-align: center;
    padding-right: 2rem;
    h2 {
      font-size: 38px;
      line-height: 55px;
      letter-spacing: -0.76px;
    }
  }
  .success {
    display: flex;
    flex-direction: column;
    color: #ffffff00;
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
    line-height: 25px;
  }
  form {
    display: flex;
    flex-direction: column;
    color: $color-text;
    margin-top: 30px;
    .user {
      display: flex;

      .name,
      .mail {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 0;
        width: 15rem;
      }
    }
    label {
      font-size: 16px;
      //   line-height: 85px;
      margin-bottom: 10px;
      font-weight: 600;
      margin-top: 40px;
    }
    input,
    textarea {
      background: none;
      border: none;
      border-bottom: 0.75px solid $color-text;
      font-size: 18px;
    }
    .error {
      color: #ffffff00;
      border-top: 2px solid #ffffff00;
      font-weight: 600;
      padding-top: 2px;
    }
  }
  button {
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    border: 0.75px solid #000000;
    background: none;
    font-weight: 300;
    padding: 13px 52px;
    margin-top: 40px;
    width: 50%;
    align-self: flex-end;
  }
  .social {
    margin-top: 270px;
    img {
      margin-left: 30px;
    }
  }
}
