.proposals {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .promotions-proposal,
  .bestseller-proposal,
  .outlet-proposal {
    width: 90%;
    margin: 1rem 0;
    background-color: $moda-skin;
    // border: 2px solid $moda-bronze;
    box-shadow: 0 0 4px 5px $moda-bronze;
    p {
      font-family: $font-logo;
    }
    img {
      padding: 0.5rem;
      //   box-shadow: ;
      width: 100%;
    }
  }
  .new-added {
    width: 100%;
    // height: 400px;
    padding: 2rem 0;
    margin: 2rem 0;
    background-color: $moda-skin;
    box-shadow: 0 0 4px 5px $moda-bronze;
    p {
      font-family: $font-logo;
      font-size: 3rem;
    }
    .new-added-box {
      display: flex;
      overflow: scroll;
    }
  }
}
