// .navigation {
//   display: flex;
//   justify-content: space-between;
//   padding: 10px;
//   height: 5rem;
//   background-color: $moda-skin;
//   opacity: 50%;
//   img {
//     height: 100%;
//     float: left;
//   }
//   .menu {
//     display: none;
//   }
// }
body {
  margin: 0;
  font-family: $font-open, sans-serif;
}

a {
  font-weight: 600;
  color: $moda-violet;
  text-shadow: 0 0 4px $moda-pink;
}

/* header */
.header {
  height: 320px;
  background-image: url(../../../resources/images/background.jpg);
  background-repeat: no-repeat;
  box-shadow: 5px 5px 5px 2px rgba(24, 24, 24, 0.664);
  background-size: cover;
  background-position: center;
}

.navigation {
  background-color: $moda-pink-clean;
  box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.315);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  // background-color: $moda-pink-clean;
}

.header li a {
  box-sizing: border-box;
  display: block;
  padding: 18px 20px;
  border-top: 1px solid $moda-violet;
  text-decoration: none;
  transition: 100ms;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: $moda-violet;
  color: $moda-blue;
  //   border-bottom: 5px solid $moda-violet;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1em;
  margin: 0 auto;
  text-decoration: none;
  height: 4rem;
}
.centralize {
  margin-left: calc(50% - 32px);
  //   margin-right: 50%;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: $moda-violet;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $moda-violet;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.basket,
.user,
.search {
  float: left;
  height: 58px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: end;
  margin-left: 5%;
}
.basket {
  margin-left: 20%;
}
.search {
  float: right;
  margin-left: 0;
  margin-right: 10%;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .navigation {
    background-color: $moda-pink-clean;
  }
  .header {
    background-size: cover;
    background-position: center;
  }
  .header li {
    float: left;
    height: 100%;
  }
  .header li a {
    padding: 20px 30px;
    border-right: $moda-violet 1px solid;
    border-top: none;
    height: 100%;
    &:hover {
      border-bottom: $moda-violet 2px solid;
    }
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    background-color: unset;
    height: 64px;
  }
  .header .menu-icon {
    display: none;
  }
}

/*other buttons*/

.user {
  float: left;
}
