body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
.body-container {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.logo {
  a {
    text-decoration: none;
  }
}
